$t1: 2rem;
$t2: 1.5rem;
$t3: 1.25rem;
$t4: 1rem;
$t5: 0.875rem;
$t6: 0.75rem;

$i1: 2rem;
$i2: 1.5rem;
$i3: 1.25rem;
$i4: 1rem;
$i5: 0.875rem;
$i6: 0.75rem;

$font-family-heading: 'Oswald', sans-serif;
$font-family-text: 'Montserrat', sans-serif;

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;

$padding: 0.75rem;
$margin: 0.75rem;

$color-black: #000000;
$color-white: #ffffff;

$color-primary: #007af5;

$color-background: darken($color-white, 60);
$color-border: darken($color-white, 12);

$border-radius-small: 0.5rem;
$border-radius-medium: 1rem;
$border-radius-large: 2rem;